<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chen.domain.DepartmentMapper">
	<resultMap type="com.chen.model.Department" id="backMap">	
	 <id column="id" property="id" jdbcType="INTEGER"/>
	 <result column="deptName" property="deptName" jdbcType="VARCHAR"/>
	 <result column="remark" property="remark" jdbcType="VARCHAR"/>
	  <result column="create_at" property="create_at" jdbcType="VARCHAR"/>
	 <result column="deptStatus" property="deptStatus" jdbcType="INTEGER"/>
	</resultMap>
    
 <sql id="mainSql">
 	SELECT * FROM  t_department p
 </sql>   
 
	<select id="findAll" resultMap="backMap">
		<include refid="mainSql"/>
	</select>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer">
	   select *   from t_department where id =#{id,jdbcType=INTEGER}
	</select>
	
	<insert id="insertSelective" parameterType="com.chen.model.Department" >
    insert into t_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
       <if test="deptName != null and deptName!=''" >
        deptName,
      </if>
      <if test="remark != null and remark !=''" >
        remark,
      </if>
      <if test="create_at != null and create_at !=''" >
        create_at,
      </if>
      <if test="deptStatus != null and deptStatus !=''" >
        deptStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptName != null and deptName!=''" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark !=''" >
        #{remark,jdbcType=VARCHAR},
      </if>
        <if test="create_at != null and create_at !=''" >
        #{create_at,jdbcType=VARCHAR},
      </if>
      <if test="deptStatus != null and deptStatus !=''" >
         #{deptStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

	 <update id="updateByPrimaryKeySelective" parameterType="com.chen.model.Department" >
    update t_department
    <set >
        <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptName != null and deptName!=''" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null and remark !=''" >
        #{remark,jdbcType=VARCHAR},
      </if>
        <if test="create_at != null and create_at !=''" >
        #{create_at,jdbcType=VARCHAR},
      </if>
      <if test="deptStatus != null and deptStatus !=''" >
         #{deptStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
	
	
	<delete id="deleteByIds" parameterType="Object[]">
		delete from  t_department where id in <foreach index="index" item="item" collection="array" separator="," open="(" close=")" >#{item}</foreach>
	</delete>
	 <!-- 查询总条数 ，结合分页使用-->
	<select id="count" resultType="INTEGER">
		SELECT COUNT(*) AS C FROM  t_department p
		<where>
	  <if test="id != null" >
        and #{id,jdbcType=INTEGER}
      </if>
      <if test="deptName != null and deptName!=''" >
        and deptName LIKE  concat(concat('%', #{deptName,jdbcType=VARCHAR}),'%')
      </if>
      <if test="remark != null and remark !=''" >
        and remark = #{remark,jdbcType=VARCHAR}
      </if>
        <if test="create_at != null and create_at !=''" >
        and create_at= #{create_at,jdbcType=VARCHAR}
      </if>
      <if test="deptStatus != null and deptStatus !=''" >
        and deptStatus= #{deptStatus,jdbcType=INTEGER}
      </if>
	</where>
	</select>
	<!-- 分页查询 -->
	<select id="findPageByParam" parameterType="java.util.Map" resultMap="backMap">
		<include refid="mainSql"/>
	 <where>
	  <if test="param.id != null" >
        and #{param.id,jdbcType=INTEGER}
      </if>
      <if test="param.deptName != null and param.deptName!=''" >
        and deptName LIKE  concat(concat('%', #{param.deptName,jdbcType=VARCHAR}),'%')
      </if>
      <if test="param.remark != null and param.remark !=''" >
        and remark = #{param.remark,jdbcType=VARCHAR}
      </if>
        <if test="param.create_at != null and param.create_at !=''" >
        and create_at= #{param.create_at,jdbcType=VARCHAR}
      </if>
      <if test="param.deptStatus != null and param.deptStatus !=''" >
        and deptStatus= #{param.deptStatus,jdbcType=INTEGER}
      </if>
	</where>
 		   limit ${start},${rows}
	</select>
</mapper>


